#override .navbar {
  border-bottom: none;
  border-radius: 0px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#override .navbar a h4 {
  margin-top: 16px;
}

#override header {
  background-attachment: scroll;
  height: 91%;
}

@media (max-width: 767px) {
  #override header  {
    padding-top: 10px;
    /*height: 85%;*/
  }

  #override header .brand-name {
    font-size: 40px;
  }
}

#override section {
  padding: 50px 0;
}

#override aside.cta-quote {
  background-attachment: scroll;
}

#override footer.footer {
  background-attachment: scroll;
}

#override img.profile-pic {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 0 auto;

  width: 200px;
}

#override #portfoliolist .caption {
  bottom: 0px;
}

#override .press-logo {
  width: 200px;
  height: 200px;
}

#override #funding-logos {
  text-align: center;
}

#override .partner-logo {
  text-align: center;
  width: 300px;
  /*height: 250px;*/
}
